<div class="container">
	<section class="row">
		<div class="span3">
			<%= sortable_by "Arizona Cardinals" %>
		</div>
		<div class="span3">
			<%= sortable_by "Atlanta Falcons" %>
		</div>
		<div class="span3">
			<%= sortable_by "Baltimore Ravens" %>
		</div>
		<div class="span3">
			<%= sortable_by "Buffalo Bills" %>
		</div>
		<div class="span3">
			<%= sortable_by "Carolina Panthers" %>
		</div>
		<div class="span3">
			<%= sortable_by "Chicago Bears" %>
		</div>
		<div class="span3">
			<%= sortable_by "Cincinnati Bengals" %>
		</div>
		<div class="span3">
			<%= sortable_by "Dallas Cowboys" %>
		</div>
		<div class="span3">
			<%= sortable_by "Denver Broncos" %>
		</div>
		<div class="span3">
			<%= sortable_by "Detroit Lions" %>
		</div>
		<div class="span3">
			<%= sortable_by "Green Bay Packers" %>
		</div>
		<div class="span3">
			<%= sortable_by "Houston Texans" %>
		</div>
		<div class="span3">
			<%= sortable_by "Indianapolis Colts" %>
		</div>
		<div class="span3">
			<%= sortable_by "Jacksonville Jaguars" %>
		</div>
		<div class="span3">
			<%= sortable_by "Kansas City Chiefs" %>
		</div>
		<div class="span3">
			<%= sortable_by "Miami Dolphins" %>
		</div>
		<div class="span3">
			<%= sortable_by "Minnesota Vikings" %>
		</div>
		<div class="span3">
			<%= sortable_by "New England Patriots" %>
		</div>
		<div class="span3">
			<%= sortable_by "New Orleans Saints" %>
		</div>
		<div class="span3">
			<%= sortable_by "New York Giants" %>
		</div>
		<div class="span3">
			<%= sortable_by "New York Jets" %>
		</div>
		<div class="span3">
			<%= sortable_by "Oakland Raiders" %>
		</div>
		<div class="span3">
			<%= sortable_by "Philadelphia Eagles" %>
		</div>
		<div class="span3">
			<%= sortable_by "ittsburgh Steelers" %>
		</div>
		<div class="span3">
			<%= sortable_by "San Diego Chargers" %>
		</div>
		<div class="span3">
			<%= sortable_by "San Francisco 49ers" %>
		</div>
		<div class="span3">
			<%= sortable_by "Seattle Seahawks" %>
		</div>
		<div class="span3">
			<%= sortable_by "St. Louis Rams" %>
		</div>
		<div class="span3">
			<%= sortable_by "Tampa Bay Buccaneers" %>
		</div>
		<div class="span3">
			<%= sortable_by "Tennessee Titans" %>
		</div>
		<div class="span3">
			<%= sortable_by "Washington Redskins" %>
		</div>
	</section>
</div>