<div class="container">
	<section class="row">
		<div class="span1">
			<%= sortable_by 1 %>
		</div>
		<div class="span1">
			<%= sortable_by 2 %>
		</div>
		<div class="span1">
			<%= sortable_by 3 %>
		</div>
		<div class="span1">
			<%= sortable_by 4 %>
		</div>
		<div class="span1">
			<%= sortable_by 5 %>
		</div>
		<div class="span1">
			<%= sortable_by 6 %>
		</div>
		<div class="span1">
			<%= sortable_by 7 %>
		</div>
	</section>
</div>