<div class="center hero-unit">
	<h1>NFL Draft</h1>
</div>
<% if @order ==nil %>
<%= render partial: 'shared/draft_over' %>
<% else %>
<%= render partial: 'shared/order_info' %>

<div class="container select center">
	<%= form_for(Ownership.new) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="field">
			<%= f.label "Player" %>
		    <%= f.select :player_id, @players %>
		    <div><%= f.hidden_field :order_id, :value => @order.id %></div>
		    <div><%= f.hidden_field :team_id, :value => @team.id %></div>
		  </div>
		  <%= f.submit "Draft Player", class: "btn btn-large btn-primary" %>
	<% end %>
</div>
<% end %>

