<div class="center hero-unit">
	<h1>NFL Draft Results</h1>
</div>
<h3>Sort by Team</h3>
<%= render partial: 'static_pages/sort_by_team' %>
<h3>Sort by Round</h3>
<%= render partial: 'static_pages/sort_by_round' %>
<h3>Results</h3>
<div class="container">
	<section class="row">
		<div class="span2 offset1">
			<span>
				<strong>Name</strong>
			</span>
		</div>
		<div class="span2 center">
			<span>
				<strong>Position</strong>
			</span>
		</div>
		<div class="span3">
			<span>
				<strong><%= sortable 'Team' %></strong>
			</span>
		</div>
		<div class="span1 center">
			<span>
				<strong><%= sortable 'Round' %></strong>
			</span>
		</div>
		<div class="span1 center">
			<span>
				<strong>Pick</strong>
			</span>
		</div>
	</section>
</div>
<%= render @ownerships %>
