<div class="container">
	<section class="row">
		<div class="span2 offset1">
			<span>
				<%= ownership.player.name %>
			</span>
		</div>
		<div class="span2 center">
			<span>
				<%= ownership.player.position %>
			</span>
		</div>
		<div class="span3">
			<span>
				<%= ownership.team.name %>
			</span>
		</div>
		<div class="span1 center">
			<span>
				<%= ownership.order.round %>
			</span>
		</div>
		<div class="span1 center">
			<span>
				<%= ownership.order.pick %>
			</span>
		</div>
	</section>
</div>