<div class="container sort-position center">
	<section class="row">
		<div class="span2">
			<%= sortable_by "C" %>
		</div>
		<div class="span2">
			<%= sortable_by "CB" %>
		</div>
		<div class="span2">
			<%= sortable_by "DE" %>
		</div>
		<div class="span2">
			<%= sortable_by "DT" %>
		</div>
		<div class="span2">
			<%= sortable_by "FB" %>
		</div>
		<div class="span2">
			<%= sortable_by "FS" %>
		</div>
		<div class="span2">
			<%= sortable_by "ILB" %>
		</div>
		<div class="span2">
			<%= sortable_by "K" %>
		</div>
		<div class="span2">
			<%= sortable_by "LS" %>
		</div>
		<div class="span2">
			<%= sortable_by "OG" %>
		</div>
		<div class="span2">
			<%= sortable_by "OLB" %>
		</div>
		<div class="span2">
			<%= sortable_by "OT" %>
		</div>
		<div class="span2">
			<%= sortable_by "P" %>
		</div>
		<div class="span2">
			<%= sortable_by "QB" %>
		</div>
		<div class="span2">
			<%= sortable_by "RB" %>
		</div>
		<div class="span2">
			<%= sortable_by "SS" %>
		</div>
		<div class="span2">
			<%= sortable_by "TE" %>
		</div>
		<div class="span2">
			<%= sortable_by "WR" %>
		</div>
	</section>
</div>